@font-face {
    /* http://wakufactory.jp/densho/font/hentai/ */
    src: url('UniHentaiKana-Regular.woff');
    font-family: HentaiKana;
}

html, body {
  font-family: 'HentaiKana', serif;
  height: 100%;
}

.upright {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  top: 5%;
  left: 5%;
}

.bg {
  /* Photo by Eunice Lui https://www.pexels.com/@exnl */
  background-image: url("/eunice-lui-928211.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* the specific height */
  height: 100%;
}
